<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">title</title>
</head>
<body>
<h1 th:text="${title}">title</h1>
<h2 th:text="${complete}"></h2>

<form method="post" action="#" th:action="@{/survey/confirm}" th:object="${surveyForm}">
	<label for="age">Age:</label>
	<input type="number" name="age" id="age" th:value="*{age}"><br>
	<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
	
	<label for="satisfaction">Satisfaction:</label>
	<input type="radio" name="satisfaction" th:checked="*{satisfaction == 1}" value="1">1
	<input type="radio" name="satisfaction" th:checked="*{satisfaction == 2}" value="2">2
	<input type="radio" name="satisfaction" th:checked="*{satisfaction == 3}" value="3">3
	<input type="radio" name="satisfaction" th:checked="*{satisfaction == 4}" value="4">4
	<input type="radio" name="satisfaction" th:checked="*{satisfaction == 5}" value="5">5<br>
	<div th:if="${#fields.hasErrors('satisfaction')}" th:errors="*{satisfaction}"></div>
	
	<label for="comment">Comment:</label>
	<textarea name="comment" id="comment" rows="3" cols="40" th:field="*{comment}"></textarea><br>
	<div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
	
	<input type="submit" value="Confirm">
	
</form>
</body>
</html>